@import url('../../App.css');

input {
  height: 5vh;
  width: 25vw;
  box-shadow: 0 2px 4px 1px #0000001A;
  color: #5287a4;
  background-color: #e1f2fd;
  border-radius: 15px;
  font-size: 1.25vw;
  font-family: 'DMSans-Bold';
  padding: 0 0 0 1.25vw
}
